# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python virtual environment
.venv/
venv/
env/
ENV/

# Tệp môi trường nhạy cảm
.env
.env.local
.env.*.local

# Node.js
node_modules/
dist/
dist-ssr/
*.local

# .NET / C#
bin/
obj/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates

# IDEs và Hệ điều hành
.vscode/
.idea/
.DS_Store
Thumbs.db
